{% extends "admin/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ title }} | 保定旅游网管理系统{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom_admin.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="#">
        <i class="fas fa-mountain"></i> 保定旅游网管理系统
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
